.exp_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
    ". edu exp .";
    grid-gap: 3vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: crimson;
}

.edu{
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr);
    grid-area: edu;
    grid-gap: 3vh;
}

.edu .head{
    color: ghostwhite;
}

.exp{
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr);
    grid-area: exp;
    grid-gap: 3vh;
}
.exp .head{
    color: ghostwhite;
}
.item{
    background: aliceblue;
    border-radius: 8px;
}


.head{
    font-size: 25pt;
}
