.contact_wrapper {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
            ". hd hd ."
            ". fd fd ."
            ". cm cm ."
            ". bt bt .";
    background: #282c34;
}

.head {
    font-size: 40pt;
    grid-area: hd;
    color: ghostwhite;
}

.field {
    display: grid;
    grid-area: fd;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    font-size: 10pt;
    grid-gap: 3vw;
}

.comment{
    grid-area: cm;
    width: 100%;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
button.button {
    -webkit-transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #fff;
    text-transform: uppercase;

}
button.button:hover, button.button:focus, button.button:active {
    letter-spacing: 0.125rem;
}

.butt{
   padding-top: 5vh;
    grid-area: bt;
}