.footer_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: ". lg ct sc .";
    background: #202121;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: ghostwhite;
}

.logo{
    grid-area: lg;
    justify-self: start;
}

.logo img{
    height: 33px;

}
.contact{
    justify-self: center;
    grid-area: ct;
    text-align: center;
}

.socials{
    justify-self: end;
    grid-area: sc;
}

.socials a{
    text-decoration: none;
}

.socials img{
    padding-right: 1vw;
    width: 30px;
}